* {
    padding: 0;
    margin: 0;
    border: 0;
}
.container{
    height: 2%;
}

#caja-chat {
    width: 100%;
    height: 400px;
    overflow-x: auto;
}

#datos-chat {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid silver;
    font-weight: bold;
    font-family: 'Mukta Vaani', sans-serif;
}

input [type='text'] {
    width: 40%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
}

input [type='submit'] {
    
    border: 1px solid gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
}

textarea{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}

input,textarea{
    margin-bottom:3px;
}